<footer class="footer">
  <div class="footer__arrow"><button class="footer__arrow--button"><a href="#top"><img src="./assets/images/ico-arrow.svg"></a></button></div>
  <nav class="footer__nav">
    <ul class="footer__nav--ul">
    <li class="footer__nav--link"><a href="https://adalab.es" target="_blank" title="Go to Article">Articles</a></li>
    <li class="footer__nav--link"><a href="https://adalab.es" target="_blank" title="Go to Books">Books</a></li>
    <li class="footer__nav--link"><a href="https://adalab.es" target="_blank" title="Go to Events">Events</a></li>
    <li class="footer__nav--link"> <a href="https://adalab.es" target="_blank" title="Go to Reasons">Reasons</a></li>
    <li class="footer__nav--link"><a href="https://adalab.es" target="_blank" title="Go to Tips">Tips</a></li>
    </ul>
</nav>
  <ul class="footer__social">
    <li class="footer__social--link"><a href="https://adalab.es" target="_blank" title="Visit our Twitter">Twitter</a></li>
    <li class="footer__social--link"><a href="https://adalab.es" target="_blank" Title="Visit our Instagram">Instagram</a></li>
    <li class="footer__social--link"><a href="https://adalab.es" target="_blank" Title="Visit our Mastdon">Mastodon.social</a></li>
  </ul> 
  <small class="footer__copy">
    <div>&copy2021</div> 
    <div>we<span class="footer__copy--heart">&#x2764</span><span class="footer__copy--components">components</span></div>
  </small>
</footer>