<header id="top" class="header">
  <h1 class="h1"><span class="h1__anonymous">anonymous</span><span class="h1__proxy">proxy</span></h1> 
  <h2 class="h2__lema">In hac habitasse platea dictumst.</h2>
  <button class="topbullet"><a href="#3reasons"><img src="./assets/images/ico-scroll-down.svg" alt="Go to 3 Reasons To Purchase" title="3 Reasons To Purchase"></a></button>
  <nav class="nav__top"><a href="https://adalab.es" target="_blank"><img  class="nav__top--img" src="./assets/images/ico-menu.svg" alt="Menu" title="Menu"></a></nav>
</header>
