// fonts
$font-Roboto: 'Roboto', sans-serif;
$font-family-RobotoSlab: 'Roboto Slab', serif;

// colors
$border-orange: #f26002;
$blue: #0271bc;
$dark-grey-blue: #304268;
$font-greyish-brown: #4a4a4a;
$font-white: #fff;
$font-black: #000;
$font-lightblue: #8ccbea;
$font-orange: #f26002;
$shadows-color: rgba(0, 0, 0, 0.2);
$background-ice-blue: #eff9ff;
$background-white: #fff;
$background-orange: #f26002;
$background-dark-grey-blue: #304268;

