/*MAIN*/
/*looking*/
.wrapperlooking {
  display: grid;
  grid-template-columns: 1fr;
  grid-row: 4;
  height: 376px;
  margin: 0px 15px;

  &__tips {
    font-family: $font-Roboto;
    color: $font-lightblue;
    font-size: 14px;
    text-transform: capitalize;
    margin-top: 30px;
  }
  &__h3 {
    font-family: $font-family-RobotoSlab;
    color: $font-black;
    font-size: 24px;
    text-transform: capitalize;
    margin-top: 1px;
  }
  &__brief {
    font-family: $font-Roboto;
    color: $font-greyish-brown;
    font-size: 18px;
    margin-top: 15px;
    line-height: 30px;
  }
}
.button {
  background-color: white;
  outline: none;
  transition-duration: 0.4s;
}
.wrapperlooking__button {
  height: 45px;
  width: 76px;
  border: 2px;
  border-style: solid;
  border-color: $border-orange;
  border-radius: 22.5px;
  color: $font-orange;
  font-family: $font-Roboto;
  font-weight: 500;
  font-size: 20px;
  margin: 30px 0px 45px 0px;
  padding: 7px 25px 7px 25px;
}
.wrapperlooking__button:hover {
  background-color: $background-orange;
  color: white;
}
@media all and (min-width: 768px) {
  .wrapperlooking {
    height: 330px;
    margin: 0px 39px;

    &__h3 {
      font-size: 26px;
      margin-top: 0px;
    }
    &__brief {
      font-size: 20px;
      margin-top: 30px;
    }
    &__button {
      margin-bottom: 60px;
    }
  }
}
@media all and (min-width: 1200px) {
  .wrapperlooking {
    height: 360px;
    margin: 0px 275px;

    &__tips {
      font-size: 16px;
      margin-top: 60px;
    }
    &__h3 {
      font-size: 32px;
    }
    &__button {
      width: 160px;
      margin: 30px 0px 60px 0px;
      padding: 7px 67px 7px 67px;
    }
  }
}

/*reasons*/
.wrapperreasons {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat (8fr);
  justify-items: center;
  text-align: center;
  background-color: $background-ice-blue;
  height: 624px;

  &__h3 {
    font-family: $font-family-RobotoSlab;
    font-weight: 700;
    color: $font-black;
    font-size: 24px;
    text-transform: capitalize;
    margin-top: 30px;
    line-height: 30px;
  }
  &__title {
    font-family: $font-family-RobotoSlab;
    font-weight: 700;
    font-size: 18px;
    color: $font-black;
    height: 30px;
    margin-top: 45px;
  }
  &__content {
    font-family: $font-Roboto;
    font-size: 18px;
    color: $font-black;
    height: 63px;
    line-height: 30px;
  }
}
.button1 {
  background-color: $background-orange;
  transition-duration: 0.4s;
  border: none;
}
.wrapperreasons__button {
  width: 184px;
  height: 45px;
  background-color: $background-orange;
  border-radius: 22.5px;
  padding: 12px 30px 12px 30px;
  font-family: $font-Roboto;
  font-weight: 400;
  font-size: 20px;
  color: $font-white;
  margin-bottom: 60px;
  align-self: center;
}
.wrapperreasons__button:hover {
  background-color: $background-white;
  color: $font-orange;
  border: dotted 2px;
  font-size: 18px;
  border-color: $font-greyish-brown;
}
@media all and (min-width: 768px) {
  .wrapperreasons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-items: center;
    text-align: center;
    background-color: $background-ice-blue;
    height: 397px;

    &__h3 {
      font-size: 26px;
      line-height: 45px;
      grid-column: 1/4;
    }
    &__title {
      font-size: 24px;
      margin-top: 45px;

      &--1 {
        grid-column: 1/2;
        grid-row: 2/3;
      }
      &--2 {
        grid-column: 2/3;
        grid-row: 2/3;
      }
      &--3 {
        grid-column: 3/4;
        grid-row: 2/3;
      }
    }
    &__content {
      margin-top: 14px;

      &--item1 {
        grid-column: 1/2;
        grid-row: 3/4;
      }
      &--item2 {
        grid-column: 2/3;
        grid-row: 3/4;
      }
      &--item3 {
        grid-column: 3/3;
        grid-row: 3/4;
      }
    }

    .wrapperreasons__button {
      grid-column: 1/4;
      grid-row: 4/5;
      width: 210px;
      height: 45px;
      padding: 12px 43px 12px 43px;
    }
  }
}
@media all and (min-width: 1200px) {
  .wrapperreasons {
    height: 427px;
  
  &__h3 {
    font-size: 32px;
    margin-top: 60px;
  }
  &__title {
    font-size: 24px;
    margin-top: 45px;
  }
}
  .wrapperreasons__button {
    width: 255px;
    padding: 12px 63px 12px 63px;
  }
}
